<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maplestory.onecard.model.mapper.CardInfoMapper">

    <resultMap id="BaseResultMap" type="com.maplestory.onecard.model.domain.CardInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="point" column="point" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="available" column="available" jdbcType="TINYINT"/>
            <result property="cardType" column="card_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,color,point,
        description,image,available,
        card_type
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from card_info
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <select id="selectAvailable" resultType="com.maplestory.onecard.model.domain.CardInfo">
        select
        <include refid="Base_Column_List"/>
        from card_info
        where available = 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from card_info
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.maplestory.onecard.model.domain.CardInfo" useGeneratedKeys="true">
        insert into card_info
        ( id,color,point
        ,description,image,available
        ,card_type)
        values (#{id,jdbcType=BIGINT},#{color,jdbcType=VARCHAR},#{point,jdbcType=VARCHAR}
        ,#{description,jdbcType=VARCHAR},#{image,jdbcType=VARCHAR},#{available,jdbcType=TINYINT}
        ,#{cardType,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.maplestory.onecard.model.domain.CardInfo" useGeneratedKeys="true">
        insert into card_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="color != null">color,</if>
                <if test="point != null">point,</if>
                <if test="description != null">description,</if>
                <if test="image != null">image,</if>
                <if test="available != null">available,</if>
                <if test="cardType != null">card_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="color != null">#{color,jdbcType=VARCHAR},</if>
                <if test="point != null">#{point,jdbcType=VARCHAR},</if>
                <if test="description != null">#{description,jdbcType=VARCHAR},</if>
                <if test="image != null">#{image,jdbcType=VARCHAR},</if>
                <if test="available != null">#{available,jdbcType=TINYINT},</if>
                <if test="cardType != null">#{cardType,jdbcType=TINYINT},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.maplestory.onecard.model.domain.CardInfo">
        update card_info
        <set>
                <if test="color != null">
                    color = #{color,jdbcType=VARCHAR},
                </if>
                <if test="point != null">
                    point = #{point,jdbcType=VARCHAR},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="image != null">
                    image = #{image,jdbcType=VARCHAR},
                </if>
                <if test="available != null">
                    available = #{available,jdbcType=TINYINT},
                </if>
                <if test="cardType != null">
                    card_type = #{cardType,jdbcType=TINYINT},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.maplestory.onecard.model.domain.CardInfo">
        update card_info
        set 
            color =  #{color,jdbcType=VARCHAR},
            point =  #{point,jdbcType=VARCHAR},
            description =  #{description,jdbcType=VARCHAR},
            image =  #{image,jdbcType=VARCHAR},
            available =  #{available,jdbcType=TINYINT},
            card_type =  #{cardType,jdbcType=TINYINT}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
